+++
title = "SFOSC"
linkTitle = "SFOSC"
+++

{{< blocks/cover title="Sustainable Free and Open Source Communities" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!--<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>-->
	<p class="lead mt-5">Guidelines for building sustainable free and open source communities</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

Welcome! This is a place dedicated to the discussion, creation, and evolution
of Sustainable Free and Open Source Communities. We are organized around the
development of a set of shared [principles](/docs/principles/) that we
believe lead to healthy, sustainable open source communities.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-question" title="Ask a Question" %}}
You can open up an issue for discussion or, reach out directly to
the current leader <a href="mailto:adam@stalecoffee.org">Adam Jacob</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/sfosc/sfosc" %}}
We do a [Pull Request](https://github.com/sfosc/sfosc/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/sfosc" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
